body {
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
}

.logo {
    font-size: 32px;
    font-weight: 200;
    font-style: italic;
}

.header {
    background-color: bisque;
}


.header {
    display: flex;
}
