body {
    margin-top: 20px;
    background: #eee;
    font-family: Besley, serif;

}

.logo {
    font-size: 32px;
    font-weight: 200;
    font-style: italic;
}

.header {
    background-color: bisque;
    padding: 50px;
    margin-top:50px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}


.header {
    text-align: center;
}

.links {
    justify-content: center;
}
